JWT_SECRET=helloworld
JWT_REFRESH_SECRET=byebyeworld

POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=testing
POSTGRES_DB=tanba_db
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=user
AWS_S3_BUCKET_NAME=storage
AWS_SECRET_ACCESS_KEY=password
AWS_S3_ENDPOINT_URL=localhost:9000
AWS_S3_PUBLIC_URL=localhost:9000

ENVIRONMENT=local
LOKI_URL=http://localhost:3000/loki/api/v1/push
